# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

kotlin/src/main/cpp/*.o
kotlin/src/main/cpp/*.so
kotlin/src/main/cpp/build
kotlin/src/main/cpp/deps
kotlin/src/main/cpp/Toolchains
kotlin/src/main/cpp/test/build
kotlin/src/main/cpp/test/build_catch_tests
kotlin/src/main/cpp/test/output
kotlin/src/main/cpp/test/Catch2

*.iml
.gradle
local.properties
.idea
app/build
captures
build.pixel.sh
build.nexus.sh
.vscode

.settings
.classpath
kotlin/src/main/jniLibs/*
kotlin/.cxx
# Notification of missing NDK
kotlin/src/main/cpp/rive_build_x86.log
