# OS specific files
# ======
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
Thumbs.db
ehthumbs.db

# IDE and build system metadata
# =====
*.iml
.gradle/
.idea/
.kotlin/
.kotlinc/
.kotlintest/
.vscode/

# Local machine configuration
# =====
local.properties

# Android & Gradle builds
# =====
# Build output for all modules
**/build/
# C/C++ external native build folders
.cxx/

# Profiling artifacts & logs
# =====
*.hprof
tombstones/
