# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

cpp/*.o
cpp/*.so
cpp/build
cpp/deps
cpp/Toolchains
*.iml
.gradle
local.properties
.idea
.DS_Store
build
captures
build.pixel.sh
build.nexus.sh
.vscode

.settings
.classpath
/kotlin/.cxx