# This is a GitHub Composite Action that deploys the Android library artifacts to Maven Central.

name: Deploy
description: Deploy the Android library artifacts to Maven Central

inputs:
  OSSRH-username:
    description: "The OSS Repository Hosting username"
    required: true
  OSSRH-password:
    description: "The OSS Repository Hosting password"
    required: true
  UAT-OSSRH-username:
    description: "The UAT OSS Repository Hosting username"
    required: true
  UAT-OSSRH-password:
    description: "The UAT OSS Repository Hosting password"
    required: true
  signing-secret-key-ring-file:
    description: "The path to the secret key ring file"
    required: true
  Sonatype-staging-profile-id:
    description: "The Sonatype staging profile ID"
    required: true

runs:
  using: "composite"
  steps:
    - name: Publish to MavenCentral
      shell: bash
      run: ./gradlew publishAllPublicationsToSonatypeRepository --max-workers 1 closeAndReleaseSonatypeStagingRepository
      env:
        UAT_OSSRH_USERNAME: ${{ inputs.UAT-OSSRH-username }}
        UAT_OSSRH_PASSWORD: ${{ inputs.UAT-OSSRH-password }}
        # TODO: remove these after UAT is confirmed working
        OSSRH_USERNAME: ${{ inputs.OSSRH-username }}
        OSSRH_PASSWORD: ${{ inputs.OSSRH-password }}
        # ====
        SIGNING_KEY_ID: ${{ inputs.SIGNING_KEY_ID }}
        SIGNING_PASSWORD: ${{ inputs.SIGNING_PASSWORD }}
        SIGNING_SECRET_KEY_RING_FILE: ${{ inputs.signing-secret-key-ring-file }}
        SONATYPE_STAGING_PROFILE_ID: ${{ inputs.Sonatype-staging-profile-id }}
