# This is a GitHub Composite Action that deploys the Android library artifacts to Maven Central.

name: Deploy
description: Deploy the Android library artifacts to Maven Central

runs:
  using: "composite"
  steps:
    - name: Publish to MavenCentral
      run: ./gradlew publishAllPublicationsToSonatypeRepository --max-workers 1 closeAndReleaseSonatypeStagingRepository
      env:
        UAT_OSSRH_USERNAME: ${{ secrets.UAT_OSSRH_USERNAME }}
        UAT_OSSRH_PASSWORD: ${{ secrets.UAT_OSSRH_PASSWORD }}
        # TODO: remove these after UAT is confirmed working
        OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
        # ====
        SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
        SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
        SIGNING_SECRET_KEY_RING_FILE: ${{ secrets.SIGNING_SECRET_KEY_RING_FILE }}
        SONATYPE_STAGING_PROFILE_ID: ${{ secrets.SONATYPE_STAGING_PROFILE_ID }}
