<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.rive.runtime.example">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="app.rive.runtime.kotlin.RiveInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SimpleActivity" />
        <activity android:name=".EventsActivity" />
        <activity android:name=".MultipleArtboardsActivity" />
        <activity android:name=".AndroidPlayerActivity" />
        <activity android:name=".LoopModeActivity" />
        <activity android:name=".LayoutActivity" />
        <activity android:name=".RiveFragmentActivity" />
        <activity android:name=".LowLevelActivity" />
        <activity android:name=".SimpleStateMachineActivity" />
        <activity android:name=".HttpActivity" />
        <activity android:name=".ButtonActivity" />
        <activity android:name=".BlendActivity" />
        <activity
            android:name=".MetricsActivity"
            android:exported="true" />
        <activity android:name=".AssetsActivity" />
        <activity android:name=".RecyclerActivity" />
        <activity android:name=".MeshesActivity" />
        <activity android:name=".ViewStubActivity" />
        <activity android:name=".ViewPagerActivity" />
    </application>

</manifest>