# Note: The steps below are the same as release.yml, but without bumping the version number.
# It is to be used in the event of a failed release, where we want to attempt publishing again without changing the Git tag and version file.
# Uses GitHub Composite Actions. See the steps in .github/actions for more details.
# Note: We may want to consider GitHub Reusable Workflows instead of Composite Actions in the future.
# See https://docs.github.com/en/actions/sharing-automations/avoiding-duplication for the differences.
# Notably the logging visibility may improve by switching.
# Reusable workflows can also view secrets rather than requiring them as inputs.

name: Re-Release

on:
  workflow_dispatch:

jobs:
  publish:
    name: Release build and publish
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.PAT_GITHUB }}
      - name: Prepare
        uses: ./.github/actions/prepare
        with:
          actions-role: ${{ secrets.ACTIONS_ROLE }}
          GPG-key-contents: ${{ secrets.GPG_KEY_CONTENTS }}
          signing-secret-key-ring-file: ${{ secrets.SIGNING_SECRET_KEY_RING_FILE }}

      - name: Build
        uses: ./.github/actions/build

      - name: Deploy
        uses: ./.github/actions/deploy
        with:
          # Secrets have been updated with the correct <username, password> pair for Central Portal
          mavenCentralUsername: ${{ secrets.OSSRH_USERNAME }}
          mavenCentralPassword: ${{ secrets.OSSRH_PASSWORD }}
          # ====
          signing-key-id: ${{ secrets.SIGNING_KEY_ID }}
          signing-password: ${{ secrets.SIGNING_PASSWORD }}
          signing-key-contents: ${{ secrets.GPG_KEY_CONTENTS }}
